<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- cfg dependent classes -->
  <bean id="dtdc" class="com.st.comp.DTDC"/>
  <bean id="dhl" class="com.st.comp.DHL"/>
  <bean id="bDart" class="com.st.comp.BlueDart"/>
  
  <!-- cfg Target class -->
  <bean id="fpkt" class="com.st.comp.Flipkart">
     <property name="courier"  ref="dtdc"/>
  </bean>

</beans>
